/* Styling for the logout page */
.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.logout h2 {
  margin-bottom: 20px;
  font-size: 5vw;
  color: #333;
}

.logout button {
  padding: 10px 20px;
  font-size: 4vw;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.logout button:hover {
  background-color: #0056b3;
}

/* Media Queries */
@media (min-width: 600px) {
  .logout h2 {
    font-size: 2vw;
  }

  .logout button {
    font-size: 1.5vw;
    padding: 10px 40px;
  }
}

@media (min-width: 768px) {
  .logout h2 {
    font-size: 1.5vw;
  }

  .logout button {
    font-size: 1.2vw;
    padding: 12px 50px;
  }
}

@media (min-width: 1024px) {
  .logout h2 {
    font-size: 1.2vw;
  }

  .logout button {
    font-size: 1vw;
    padding: 14px 60px;
  }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  .logout h2 {
    font-size: 1.2em;
  }

  .logout .status {
    font-size: 1em;
  }

  .logout button {
    padding: 8px 16px;
    font-size: 0.9em;
  }
}

@media (max-width: 400px) {
  .logout {
    padding: 10px; /* Reduce padding for very small screens */
  }

  .logout h2 {
    font-size: 1em;
  }

  .logout .status {
    font-size: 0.9em;
  }

  .logout button {
    padding: 6px 12px;
    font-size: 0.8em;
  }
}